@import 'sidebar.css';
@import 'toolbar.css';

html, body {
  background-color: #363636;
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.panel {
  flex: 1;
  border-radius: 0;
  margin: 0;
  min-height: 100%;
  border: none;
  box-shadow: -4px 0 8px rgba(0,0,0,.37);
  background-image: radial-gradient(ellipse 50% 100vw at 40% 40%, #bcd5e8, #20578f);
}

.banner {
  height: 420px;
  background: url('../images/banner.jpg') 100% 0 no-repeat;
  background-size: cover;
  box-shadow: 0 -2px 4px rgba(0,0,0,.37);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 18px;
}

.banner .text {
  margin: 32px 0 0 -50%;
}

.banner p {
  margin: 0;
  align-self: flex-start;
  text-transform: uppercase;
}

.banner h2 {
  margin: 0;
  font-size: 32px;
}

.banner a {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  text-decoration: none;
  margin-left: 50%;
  white-space: nowrap;
  margin-top: 16px;
}

.banner a .glyphicon {
  margin-left: 4px;
}

.section {
  display: flex;
  max-height: 400px;
}

.section > * {
  flex: 1;
}

.blue-section {
  background-image: linear-gradient(145deg, #476d91, #183452);
}

.light {
  background-image: linear-gradient(145deg, #719ec0, #4d7da1);
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  height: 400px;
}

.points {
  color: #fff;
  margin: 16px;
}

.points-value {
  color: rgba(255,255,255, .5);
  font-size: 40px;
  line-height: 100%;
}

table {
  width: 100%;
  color: #fff;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  width: 100%;
}

table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
  display: table;
  table-layout: fixed;
}

table tbody {
  padding: 0 12px;
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
}

table tbody tr {
  width: 100%;
  display: table;
}

table .head-value {
  opacity: .5;
}

table .value {
  font-weight: 500;
}

table a {
  color: #fff;
  text-decoration: none !important;
}

table td {
  border: none !important;
  padding: 16px !important;
}

table tr {
  background-color: rgba(0,0,0,.1);
}

table tr:nth-child(odd) {
  background-color: rgba(255,255,255,.1);
}

table thead tr {
  background-color: transparent !important;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
    max-height: 800px;
  }
}