html, body {
  background-color: #363636;
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.panel {
  flex: 1;
  border-radius: 0;
  margin: 0;
  min-height: 100%;
  border: none;
  box-shadow: -4px 0 8px rgba(0,0,0,.37);
  background-image: radial-gradient(ellipse 50% 100vw at 40% 40%, #bcd5e8, #20578f);
}

.banner {
  height: 420px;
  background: url('images/banner.jpg') 100% 0 no-repeat;
  background-size: cover;
  box-shadow: 0 -2px 4px rgba(0,0,0,.37);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 18px;
}

.banner .text {
  margin: 32px 0 0 -50%;
}

.banner p {
  margin: 0;
  align-self: flex-start;
  text-transform: uppercase;
}

.banner h2 {
  margin: 0;
  font-size: 32px;
}

.banner a {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  text-decoration: none;
  margin-left: 50%;
  white-space: nowrap;
  margin-top: 16px;
}

.banner a .glyphicon {
  margin-left: 4px;
}

.section {
  display: flex;
  max-height: 400px;
}

.section > * {
  flex: 1;
}

.blue-section {
  background-image: linear-gradient(145deg, #476d91, #183452);
}

.light {
  background-image: linear-gradient(145deg, #719ec0, #4d7da1);
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  height: 400px;
}

.points {
  color: #fff;
  margin: 16px;
}

.points-value {
  color: rgba(255,255,255, .5);
  font-size: 40px;
  line-height: 100%;
}

table {
  width: 100%;
  color: #fff;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  width: 100%;
}

table thead {
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
  display: table;
  table-layout: fixed;
}

table tbody {
  padding: 0 12px;
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
}

table .head-value {
  opacity: .5;
}

table .value {
  font-weight: 500;
}

table a {
  color: #fff;
  text-decoration: none !important;
}

table td {
  border: none !important;
  padding: 16px !important;
}

table tbody tr {
  background-color: rgba(0,0,0,.1);
  width: 100%;
  display: table;
  table-layout: fixed;
}

table tbody tr:nth-child(odd) {
  background-color: rgba(255,255,255,.1);
}

table tbody tr td:first-child {
  width: 50%;
}

table tbody tr td:last-child {
  width: 40px;
  text-align: right;
}

table thead tr {
  background-color: transparent !important;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
    max-height: 800px;
  }
}

.sidebar {
  width: 100px;
  height: 100%;
  text-align: center;
  list-style: none;
}

.sidebar a {
  color: rgba(255,255,255,.75);
  display: block;
  text-decoration: none;
  padding: 8px;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to left, transparent, rgba(255,255,255,.1), transparent) 100% 1;
}

.sidebar li:last-child a {
  border-image: none;
}

.sidebar a:hover,
.sidebar a:active,
.sidebar a.active {
  background-color: rgba(0, 0, 0, .37);
  color: #fff;
}

.sidebar a span {
  display: block;
  width: 100%;
  margin: 8px 0;
}

.sidebar a span.glyphicon {
  font-size: 20px;
}

.sidebar a span.label {
  font-weight: 400;
  text-transform: uppercase;
}

.toolbar {
  height: 77px;
  display: flex;
  padding: 0 24px 0 0;
  align-items: center;
  color: #fff;
}

.toolbar > * {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.toolbar .glyphicon {
  font-size: 24px;
}

.toolbar a {
  color: #fff;
  text-decoration: none;
}

.toolbar > a {
  padding: 8px;
  border-radius: 4px;
}

.toolbar > a:hover {
  background-color: rgba(0,0,0,.37);
}

.toolbar .title {
  flex: 1;
  color: rgba(0,0,0,.75);
}

.toolbar .title h1 {
  font-size: 18px;
  margin: 0 0 0 8px;
}

.toolbar .title a {
  color: rgba(0,0,0,.75);
  text-transform: uppercase;
  font-weight: 400;
}

.toolbar .user .glyphicon {
  margin-left: 8px;
}

.toolbar .comment {
  position: relative;
}

.toolbar .comment .badge {
  position: absolute;
  background-color: #f00;
  font-size: 11px;
  font-weight: 400;
  top: -4px;
  right: -4px;
  padding: 4px;
}