<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <td>Transparent Accounts</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="account in $ctrl.accounts">
        <td>
          <div>Bank: {{account.accBankCode}}</div>
          <div>Account: {{account.accNumber}}</div>
        </td>
        <td>
          <div class="head-value">Balance</div>
          <div class="value">{{account.balance | currency}}</div>
        </td>
        <td>
          <div class="head-value">Date</div>
          <div class="value">{{account.actualizationDate | date}}</div>
        </td>
        <td>
          <a ng-href="#/" class="glyphicon glyphicon-menu-hamburger"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="points" ng-repeat="point in $ctrl.points">
    <div class="points-label">{{point.label}}</div>
    <div class="points-value">{{point.value | number}}</div>
  </div>
</div>