<nav class="sidebar hidden-xs" ng-controller="SidebarCtrl">
  <li ng-repeat="link in links">
    <a ng-href="#/" ng-class="{active: link.active}">
      <span ng-class="'glyphicon ' + link.icon"></span>
      <span class="label">{{link.label}}</span>
    </a>
  </li>
</nav>

<div class="panel">

  <div class="toolbar">
    <div class="title">
      <span class="glyphicon glyphicon-leaf"></span>
      <h1><a ng-href="#/">Alpha Bank</a></h1>
    </div>
    <a class="user" ng-href="#/">
      Diego Haz
      <span class="glyphicon glyphicon-user"></span>
    </a>
    <a class="comment" ng-href="#/">
      <span class="glyphicon glyphicon-comment"></span>
      <span class="badge">12</span>
    </a>
    <a class="glyphicon glyphicon-cog" ng-href="#/"></a>
  </div>

  <div class="banner">
    <div class="text">
      <p>New</p>
      <h2>Web Banking</h2>
      <a ng-href="#/">Take the tour <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
  </div>

  <div class="section blue-section">
    <div class="light">
      <div class="table-wrapper" ng-controller="Table1Ctrl">
        <table>
          <thead>
            <tr>
              <td>{{title}}</td>
              <td></td>
              <td>{{price | currency}}</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items">
              <td>
                <div>Label</div>
                <div>{{item.id}}</div>
              </td>
              <td>
                <div class="head-value">Label</div>
                <div class="value">{{item.price1 | currency}}</div>
              </td>
              <td>
                <div class="head-value">Label</div>
                <div class="value">{{item.price2 | currency}}</div>
              </td>
              <td>
                <a ng-href="#/" class="glyphicon glyphicon-menu-hamburger"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dark">

    </div>
  </div>

</div>