<form role="form" name="form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" ng-model="email" name="email" id="email" required maxlength="15">
  </div>
  <div ng-messages="form.email.$error" ng-if="form.email.$touched" role="alert">
    <div ng-message="required">Please enter a value for this field.</div>
    <div ng-message="email">This field must be a valid email address.</div>
    <div ng-message="maxlength">This field can be at most 15 characters long.</div>
  </div>
</form>